@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
body{
	background-image: url('./img/goo.jpg');
	transition: 1s background-image linear;
	height: 600px;
 	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;

}
.navbar-default{
	background-color:  #34495E;
}
.navbar-default a.navbar-brand{
color: white;
}
.navbar-brand{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
a.nav-link{
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}
a.nav-link:hover {
	color: #A6ACAF;
}
.nav5{
	margin-left: auto;
}

.box p{
	position: absolute;
	top: 100px;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-size: 23px;
	padding-left: 30px;
}
.members p{
	position: absolute;
	top: 140px;
	color: #A6ACAF;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 10px;
	padding-left: 30px;
}
.content p{
	/*border: solid;*/
	position: absolute;
	width: 600px;
	top: 170px;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 13px;
	padding-left: 30px;
	line-height: 1.4;

}

.button1{
	position: absolute;
	top:260px;
	left: 30px;
	background-color: #000;
}
.button2{
	position: absolute;
	top:260px;
	left: 120px;
}
.button3{
	position: absolute;
	top:260px;
	left: 215px;
}
.button4{
	position: absolute;
	top:260px;
	left: 303px;
}
.language p{
	top: 310px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 13px;
}
span{
	color: #00A8E1;
}
.agree p{
	top: 440px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 13px;
	color: #A6ACAF;
}
.download button{
	position: absolute;
	top: 360px;
	left: 30px;
	background-color: #00A8E1;
	border: #00A8E1;
	padding: 15px;
	border-radius: 2px;
	width: 150px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
.modal-body img{
	height: 200px;
	width: 300px;
	margin-left: 80px;
	overflow: hidden;
}
